.reminder-list-page {
  padding: 1rem;

  .reminder-list {
    max-width: var(--reminders-width);
    margin: 0 auto;
    border-radius: 1rem;

    .reminder {
      &.first {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }
      &.last {
        &:after {
          content: none;
        }
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }

    .MuiListSubheader-root {
      margin-top: 1rem;
      color: black;
      font-size: 1.5rem;
      background-color: var(--reminders-bg);
      top: 96px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .loader-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .create-reminder-button {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
