.dashboard-page {
  max-width: var(--reminders-width);
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem 1.5rem;

  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0.5rem;
    padding: 1rem 0.75rem;
    background-color: var(--light);
    border-radius: 1rem;
    svg {
      position: absolute;
      left: 0.75rem;
    }
  }

  .reminders-list {
    margin-top: 0.5rem;
    padding: 0;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--light-gray);
    .reminder:last-of-type:after {
      content: none;
    }
  }
}
