.reminder {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  min-height: 2rem;
  background-color: var(--reminder-bg);

  &.complete {
    background-color: var(--reminder-bg-complete);
  }

  .title {
    min-width: 2rem;
  }

  .date {
    margin-left: auto;
    min-width: 5rem;
    justify-content: center;
    background-color: var(--light);
    padding: 4px;
    border-radius: 4px;
  }

}
