#root {
  --primary: #1976d2;
  --primary500: #2196f3;
  --primary-hover: #1565c0;
  --light: #ffffff;
  --light-gray: #efefef;
  --gray: #607D8B;

  --reminders-bg: #efefef;
  --reminder-bg: #ffffff;
  --reminder-bg-complete: #b3b3b3;
}
